.boll {
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    animation: studsboll 5s linear infinite;
}

@keyframes studsboll{
    0% {
        left:0;
        background-color: red;
    }
    50% {
        left: calc(100vw - 200px); 
        background-color: blue;
        width: 200px;
        height: 200px;
    }
    100% {
        left:0;
        background-color: red;
    }
}

/* left: calc(100vw - 200px); vw = view it supposed to be (100vw) but since our ball size grows with 200px and when doing that it goes out of screen so we minus 200px 
background-color: blue;
width: 200px;
height: 200px; */

/* linear = the movement is smooth al time (tempo) */
/* for @ TO work we use the word animation and then the name of the@*/
/* infinite loopar runt */
/* ease in out */
/* from {left: 0;}
to {left: 300px;} */

/* for lefts  to work below we NEED POSITION */