body {
    font-family: Arial, Helvetica, sans-serif;
}
#siteContainer {
    width: 800px;
    margin: 0 auto;
    position: relative;
}
.header {
    width: 800px;
    height: 150px;
    background-color: brown;
    text-align: center;
    padding-top: 60px;
    color: #fff;
    position: absolute;
}

.imageOne img {
    width:  300px;
    /* height: 250px; */
    background-color: aquamarine;
    position: absolute;
    top: 220px;
}

.mainContent img {
    width: 150px;
    float: right;
    margin-left: 20px;
}
.mainContent {
    width: 480px;
    /* background-color: blanchedalmond; */
    position: absolute;
    top: 220px;
    right: 0;
}


.underContent {
    width: 800px;
    height: 200px;
    background-color: blanchedalmond;
    position: absolute;
    top: 500px;
}