.img1{
    position: absolute;
    height: 200px;
    width: 260px;
    left: 110px;
    top: 280px;
    border-radius: 5PX;
}

.img2{
    position: absolute;
    height: 200px;
    width: 260px;
    left: 480px;
    top: 280px;
    border-radius: 5PX;
}

.img3{
    position: absolute;
    height: 200px;
    width: 260px;
    left: 860px;
    top: 280px;
    border-radius: 5PX;
}

.img4{
    position: absolute;
    height: 200px;
    width: 260px;
    left: 1230px;
    top: 280px;
    border-radius: 5PX;
}

.img5{
    position: absolute;
    height: 25px;
    width: 26px;
    left: 330px;
    top: 290px;
}
.img6{
    position: absolute;
    height: 25px;
    width: 26px;
    left: 695px;
    top: 290px;
}
.img7{
    position: absolute;
    height: 25px;
    width: 26px;
    left: 1080px;
    top: 290px;
}
.img8{
    position: absolute;
    height: 25px;
    width: 26px;
    left: 1465px;
    top: 290px;
}

.img9{
    position: absolute;
    height: 140px;
    width: 180px;
    left: 150px;
    top: 530px;
}
.img10{
    position: absolute;
    height: 140px;
    width: 180px;
    left: 520px;
    top: 530px;
}
.img11{
    position: absolute;
    height: 140px;
    width: 180px;
    left: 900px;
    top: 530px;
}
.img12{
    position: absolute;
    height: 140px;
    width: 180px;
    left: 1270px;
    top: 530px;
}

.rec1{
    background: #ffffff;
    padding: 110px;
    width: 100px;
    height: 200px;
    margin-left: 80px;
    margin-top: 100px;
    box-shadow: inset 0 0 12px #040404;

}

.rec2{
    background: #ffffff;
    padding: 110px;
    width: 100px;
    height: 200px;
    margin-left: 450px;
    margin-top: -420px;
    box-shadow: 10px 10px 0 black;
    box-shadow: inset 0 0 12px #040404;

}

.rec3{
    background: #ffffff;
    padding: 110px;
    width: 100px;
    height: 200px;
    margin-left: 830px;
    margin-top: -420px;
    box-shadow: 10px 10px 0 black;
    box-shadow: inset 0 0 12px #040404;

}

.rec4{
    background: #ffffff;
    padding: 110px;
    width: 100px;
    height: 200px;
    margin-left: 1200px;
    margin-top: -420px;
    box-shadow: 10px 10px 0 black;
    box-shadow: inset 0 0 12px #040404;
}

.order-1{
    background-color: #000000;
    color: #ffffff;
    margin-top:64px;
    font-size: 10px;
    margin-left: 190px;
    height:20px;
    width: 100px;
}
.order-2{
    background-color: #000000;
    color: #ffffff;
    margin-top:-34px;
    font-size: 10px;
    margin-left: 559px;
    height:20px;
    width: 100px;
}
.order-3{
    background-color: #000000;
    color: #ffffff;
    margin-top:-34px;
    font-size: 10px;
    margin-left: 940px;
    height:20px;
    width: 100px;
}
.order-4{
    background-color: #000000;
    color: #ffffff;
    margin-top:-34px;
    font-size: 10px;
    margin-left: 1310px;
    height:20px;
    width: 100px;
}
.price-1{
    margin-top:-5px;
    font-size: 13px;
    margin-left: 210px;
}
.price-2{
    margin-top:-48px;
    font-size: 13px;
    margin-left: 580px;
}
.price-3{
    margin-top:-48px;
    font-size: 13px;
    margin-left: 960px;
}
.price-4{
    margin-top:-48px;
    font-size: 13px;
    margin-left: 1330px;
}
.food-1-name{
    font-family: 'Lucida Handwriting Std', sans-serif;                                          
    margin-top:-195px;
    font-size: 13px;
    margin-left: 140px;
}
.food-2-name{
    font-family: 'Lucida Handwriting Std', sans-serif;                                          
    margin-top: -55px;
    color: #000000;
    font-size: 13px;
    margin-left: 520px;
}

.food-3-name{
    font-family: 'Lucida Handwriting Std', sans-serif;                                          
    margin-top:-55px;
    color: #000000;
    font-size: 13px;
    margin-left: 930px;
}
.food-4-name{
    font-family: 'Lucida Handwriting Std', sans-serif;                                          
    margin-top:-55px;
    color: #000000;
    font-size: 12px;
    margin-left: 1270px;
}


body {
    background: url("../Images/Background-pic.png");
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* position: relative; */
    margin:0;
}


.nav-area{
    position: absolute;
    right: 130px;
    margin-top: 2px;
}

ul {
    /* List stlye to remove the point infornt of the links */
    list-style: none;
}


/* To get the list in a line we use float left */
ul li{
    float: left;
    margin-top: 24px; 
}

ul li a {
    margin-right: 30px;
    /* This is used to remove underline */
    text-decoration: none;
    color:rgb(221, 217, 217);
    font-family: 'Myriad Pro', sans-serif;
    padding: 10px 10px;
    font-size: 24px;
    /* To get then in there box. */
    display: inline-block;   
}

/* To get the hover affect we use (a:hover) */
ul li a:hover, .Menu:hover .menu.html{
    background-color: #8d8882;
    color: black;
}

/* To keep the hover affect on drop button we use (, .dropDown:hover .Dropbtn) */

/* To get drop1,2.. we use display block in . dropContent a below*/
.dropContent a{
    display: block;
}

/* To hide the content and open only when we hover but before that to only keep the the navigation bar color we use position absolute. This make it lose and lets every other link to come closer to it and thats the 0 point
To completly remove the dropcontents we use display None*/
.dropContent{
    position: absolute;
    min-width: 160px;
    display: none;
    animation: slowdrop 0.5s linear;
    /* For the above animation to work and outperform we use overflow hidden */
    overflow: hidden;
}

/* Now laslty to only see the dropcontents when hovered hover we use display block 
This below means that when we hover over dropDown make dispaly block on dropContent*/
.Menu:hover .dropContent{
    display: block;
}

/* To get a smooth animation of it so it slowly drops down. */
@keyframes slowdrop {
    from {
        max-height: 0px;
    }
    to {
        max-height: 300px;
    }
}

@font-face{
    font-family: myFont1;
    src:url(../fonts/SerlingGalleria_PERSONAL_USE_ONLY.otf);
}
.restraunt-name{
    font-family: myFont1;
    margin-top:-45px;
    color: #de8511;
    font-size: 25px;
    margin-left: 120px;
}

.header {
   width: 100vw;
   height: 30px;
}

@font-face{
    font-family: myFont;
    src:url(../fonts/ModernAntiqua-Bold.ttf);
}

.text-box{
    font-family:'Times New Roman', Times, serif;
    margin-top:0px;
    color: rgb(187, 187, 187);
    font-size: 30px;
    margin-left: 450px;
}