
.search-results {
    width: 100%;
    padding: 60px 0;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    grid-row-gap: 40px;
    margin: 0 auto; 
}
