@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

.img1{
    position: absolute;
    height: 30px;
    width: 35px;
    top: 32.5px;
    right: 60px;
}

.img1:hover{
    height: 32px;
    width: 37px;
}

.img2{
    position: absolute;
    height: 90px;
    width: 100px;
    margin-left: 20px;
    margin-top: -2px;
}


body {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("aboutus.avif");
    max-height: 116vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* position: relative; */
    margin:0;
}

.menu-bar{
    height: 93px;
    /* background-color: #c2c0c0; */
    background: linear-gradient(rgba(253, 253, 253, 0.6), rgba(255, 255, 255, 0.6));
    /* margin-top: -16px; */
    padding-bottom: 23px;
    /* font-family:Arial, Helvetica, sans-serif; */
    position: relative;
    z-index: -1;
}


/* background-color: #c2c0c0; */
/* margin-top: -16px; */
/* font-family:Arial, Helvetica, sans-serif; */

.nav-area{
    position: absolute;
    right: 130px;
    margin-top: 2px;
}

ul {
    /* List stlye to remove the point infornt of the links */
    list-style: none;
}

/* Now we style how the  */
.navigation {
    background-color: black;
    /* This is used to keep it's commands otherwise the black doesnt show. */
    overflow: hidden;
}

 /* To get the list in a line we use float left */
ul li{
    float: left;
    margin-top: 24px; 
}

ul li a {
    /* This is used to remove underline */
    text-decoration: none;
    color:rgb(221, 217, 217);
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 10px;
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    /* To get then in there box. */
    display: inline-block;
    /* Then we use padding to define how big of a box you want */
    /* padding: 14px 16px; */
   
}

/* To get the hover affect we use (a:hover) */
ul li a:hover, .COURSES:hover .courses.html{
    background-color: white;
    color: black;
}

/* To keep the hover affect on drop button we use (, .dropDown:hover .Dropbtn) */

/* To get drop1,2.. we use display block in . dropContent a below*/
.dropContent a{
    display: block;
}

/* To hide the content and open only when we hover but before that to only keep the the navigation bar color we use position absolute. This make it lose and lets every other link to come closer to it and thats the 0 point
To completly remove the dropcontents we use display None*/
.dropContent{
    position: absolute;
    min-width: 160px;
    display: none;
    animation: slowdrop 0.5s linear;
    /* For the above animation to work and outperform we use overflow hidden */
    overflow: hidden;
}

/* Now laslty to only see the dropcontents when hovered hover we use display block 
This below means that when we hover over dropDown make dispaly block on dropContent*/
.COURSES:hover .dropContent{
    display: block;
}

/* To get a smooth animation of it so it slowly drops down. */
@keyframes slowdrop {
    from {
        max-height: 0px;
    }
    to {
        max-height: 300px;
    }
}

/* ABOUT US PAGE */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section {
    width: 100%;
    min-height: 100vh;
    /* background-color: #ddd; */
    /* min-height:100vh;
    backgroundcolor:#ddd */
}

.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section{
    float: left;
    width: 55%;
}

.image-section{
    float: right;
    width: 40%;
}

.image-section img{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
    margin-top: -55px;
}

.content-section .content h3{
    margin-top: -5px;
    color: #bbb7b7;
    font-size: 21px;
}

.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section .content .button{
    margin-top: 15px;

}
.content-section .content .button a{
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-section .content .button a:hover{
    background-color: #a52a2a;
    color: #fff;
}   

.content-section .social{
    margin-top: 25px;
    margin-left: 30px;
}

.content-section .social i{
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .social i:hover{
    color: #3d3d3d;
}
.image-section {
    margin-top: -90px;
}

/* Now to fix it so it works on all screens */

@media screen and ( max-width: 768px) {
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
}
.content-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;

} 
.image-section{
    float: none;
    width: 100%;
}
.image-section img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.content-section .title{
    text-align: center;
    font-size: 19px;

}  
.content-section .content .button{
    text-align: center;
} 
.content-section .content .button a{
    text-align: center;
    
}               
}
