.img1{
    position: absolute;
    height: 350px;
    width: 480px;
    left: 950px;
    top: 250px;
    border-radius: 10px;
}



.breakfast-name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top:-375px;
    color: #000000;
    font-size: 15px;
    margin-left: 200px;
}

.lunch-name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: -55px;
    color: #000000;
    font-size: 15px;
    margin-left: 780px;
}

.dinner-name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top:-55px;
    color: #000000;
    font-size: 15px;
    margin-left: 1270px;
}

body {
    background: url("Images/Background-pic.png");
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* position: relative; */
    margin:0;
}


.nav-area{
    position: absolute;
    right: 130px;
    margin-top: 2px;
}

ul {
    /* List stlye to remove the point infornt of the links */
    list-style: none;
}


/* To get the list in a line we use float left */
ul li{
    float: left;
    margin-top: 24px; 
}

ul li a {
    margin-right: 30px;
    /* This is used to remove underline */
    text-decoration: none;
    color:rgb(221, 217, 217);
    font-family: 'Myriad Pro', sans-serif;
    padding: 10px 10px;
    font-size: 24px;
    /* To get then in there box. */
    display: inline-block;   
}

/* To get the hover affect we use (a:hover) */
ul li a:hover, .Menu:hover .menu.html{
    background-color: #8d8882;
    color: black;
}

/* To keep the hover affect on drop button we use (, .dropDown:hover .Dropbtn) */

/* To get drop1,2.. we use display block in . dropContent a below*/
.dropContent a{
    display: block;
}

/* To hide the content and open only when we hover but before that to only keep the the navigation bar color we use position absolute. This make it lose and lets every other link to come closer to it and thats the 0 point
To completly remove the dropcontents we use display None*/
.dropContent{
    position: absolute;
    min-width: 160px;
    display: none;
    animation: slowdrop 0.5s linear;
    /* For the above animation to work and outperform we use overflow hidden */
    overflow: hidden;
}

/* Now laslty to only see the dropcontents when hovered hover we use display block 
This below means that when we hover over dropDown make dispaly block on dropContent*/
.Menu:hover .dropContent{
    display: block;
}

/* To get a smooth animation of it so it slowly drops down. */
@keyframes slowdrop {
    from {
        max-height: 0px;
    }
    to {
        max-height: 300px;
    }
}

@font-face{
    font-family: myFont1;
    src:url(SerlingGalleria_PERSONAL_USE_ONLY.otf);
}
.restraunt-name{
    font-family: myFont1;
    margin-top:-45px;
    color: #de8511;
    font-size: 25px;
    margin-left: 120px;
}

.header {
   width: 100vw;
   height: 30px;
}

@font-face{
    font-family: myFont;
    src:url(ModernAntiqua-Bold.ttf);
}

.text-box{
    font-family: myFont;
    margin-top:0px;
    color: rgb(187, 187, 187);
    font-size: 40px;
    margin-left: 520px;
}


.content-section{
    float: left;
    width: 55%;
}

.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 85px;
    color:#8d8882;
    margin-left: 129px;
}

.content-section .content h3{
    margin-top: -5px;
    color: #bbb7b7;
    font-size: 21px;
    margin-left: 129px;

}

.content-section .content p{
    margin-top: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 129px;
    color: #bbb7b7;
    text-align: justify;
}
.content-section .content .button{
    margin-top: 25px;
    margin-left: 129px;

}
.content-section .content .button a{
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;

}

.content-section .content .button a:hover{
    background-color:#de8511;;
    color: #fff;
}   

.content-section .social a{
    margin-top: 25px;
    margin-left: 30px;
}

.content-section .social i{
    color: #cecece;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .social i:hover{
    color: #3d3d3d;
}

/* Now to fix it so it works on all screens */

@media screen and ( max-width: 768px) {
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
}
.content-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;

} 

.content-section .title{
    text-align: center;
    font-size: 19px;
    margin-top: 30px;

}  
.content-section .content .button{
    text-align: center;
} 
.content-section .content .button a{
    text-align: center;
    
}               
}
